@import "../../../styles/variables";

@mixin button-color($color, $background-color) {
    color: $color;
    background-color: $background-color;

    &:hover {
        background-color: darken($background-color, 5);
    }

    &:focus, &:active {
        background-color: darken($background-color, 10);
    }
}

.Button {
    font-size: 1rem;
    line-height: 1.5;
    padding: .5rem;
    cursor: pointer;
    transition: background-color $transition-default;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    outline: none;
    font-weight: 500;
    font-family: inherit;

    &._default {

    }

    &._primary {
        padding: .5rem 1rem;
        @include button-color($white, $orange);
    }

    &._full-width {
        display: flex;
        width: 100%;
    }
}
