@import "../../../styles/variables";

.Header {
    padding: 1rem;
    background-color: $gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
}
