@import "../../../styles/variables";

$item-min-height: 220px;
$gap: .5rem;

.RoomsList {
    display: flex;
    padding: 0 0 0 $gap;
    scroll-padding: $gap;
    align-items: stretch;
    width: 100%;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    // to preserve padding in the end
    &:after {
        content: "";
        width: $gap;
        flex: 0 0 $gap;
        margin-left: -$gap;
    }

    &__empty {
        width: 100%;
        height: $item-min-height;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: $gap;
    }
}

.RoomListItem {
    width: 95%;
    flex: 0 0 95%;
    padding: 1rem;
    margin-right: .5rem;
    background-color: $white;
    scroll-snap-align: start;
    min-height: $item-min-height;
    display: flex;
    flex-direction: column;

    &._single {
        margin-right: 0;
        width: calc(100% - #{$gap});
        flex: 0 0 calc(100% - #{$gap});
    }

    &__info {
        display: flex;
        align-items: stretch;
        margin-bottom: 1rem;
        flex-grow: 1;

        &-text {
            display: flex;
            flex-direction: column;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;

        &-wrapper {
            margin-right: 1rem;
            width: 45%;
            flex: 0 0 45%;
            overflow: hidden;
            display: block;
        }
    }

    &__title {
        margin-bottom: .5rem;
    }

    &__distance {
        // ideally there should be predefined list of available font-size / line-height combination,
        // but since app is pretty simple I would define such stuff in component styles
        font-size: .75rem;
        margin-bottom: .5rem;
        color: $dark-gray;
        text-transform: uppercase;
    }

    &__price {
        margin-top: auto;
        font-weight: 500;
        font-size: 1.25rem;
    }

    &__note {
        font-size: .75rem;
        color: $dark-gray;
    }
}
