@import "../../styles/variables";

.Home {
    flex-grow: 1;
    position: relative;

    &__map {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }

    &__rooms {
        position: absolute;
        bottom: 1rem;
        left: 0;
        width: 100%;
        z-index: 2;
    }
}
